.header__wrapper {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.header__logo {
    margin-left: 48px;
}

.header__search {
    display: flex;
    align-items: center;
    background-color: black;
    height: 40px;
    padding: 10px;
}

.header__searchContainer {
    width: 375px;
    height: 20px;
    border: 1px solid #31363A;
    border-radius: 5px;
}

.header__searchContainer > input {
    background-color: transparent;
    border: none;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    outline: none;
    color: #fff;
}

.header__menuItems {
    margin-left: 48px;
    margin-right: 48px;
}

.header__menuItems > a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;
}

.header__menuItems > a:hover {
    color: #5ac53b;
    transition: all 0.1s;
}

