.stats {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    padding: 0 30px 30px 30px;
}

.stats__container {
    flex-direction: column;
    flex: 1;
    background-color: #1e2023;
    border-radius: 5px;
    border: 1px solid #42494d;
    text-align: center;

}